@import url('https://fonts.googleapis.com/css2?family=Cambria:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Verdana:ital,wght@0,400;0,700;1,400;1,700&family=Cabin+Sketch&display=swap');

// Variables

$web-font-path: "https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// stylelint-disable scss/dollar-variable-default
$border-radius-sketchy:    255px 25px 225px 25px / 25px 225px 25px 255px;
$border-radius-lg-sketchy: 55px 225px 15px 25px / 25px 25px 35px 355px;
$border-radius-sm-sketchy: 255px 25px 225px 25px / 25px 225px 25px 255px;
// style-enable scss/dollar-variable-default

:root {
  color-scheme: light;
}



/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Colors
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $gray-900 !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Fonts

$font-family-sans-serif:      Cambria, serif !default; 
$font-family-serif:           Cambria, serif !default; 
$headings-font-family:        "Cabin Sketch", cursive !default;

$font-size-base:              1rem !default;
$headings-font-weight:        700 !default;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$toc-font-size: 1.1rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.9rem;

$link-color: $indigo;
$link-hover-color: $blue;

$monokai-bg: #2e3440;

$min-contrast-ratio:   1.6 !default;

// Links

$link-decoration:           underline !default;

// Components

$border-width:              2px !default;
$border-radius:             25px !default;
$border-radius-lg:          35px !default;
$border-radius-sm:          15px !default;

// Tables

$table-hover-bg:              $white !default;
$table-border-width:          2px !default;
$table-border-color:          $gray-800 !default;

// Forms

$input-border-color:                $gray-800 !default;
$input-disabled-border-color:       $gray-600 !default;
$input-focus-border-color:          $input-border-color !default;

$form-select-disabled-color:        $gray-600 !default;
$form-select-disabled-border-color: $input-disabled-border-color !default;

// Dropdowns

$dropdown-border-color:             $gray-800 !default;
$dropdown-divider-bg:               $gray-800 !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $gray-800 !default;

// Navs

$nav-tabs-border-color:             $gray-800 !default;
$nav-tabs-link-hover-border-color:  $gray-800 !default;
$nav-tabs-link-active-color:        $gray-800 !default;
$nav-tabs-link-active-border-color: $gray-800 !default;

// Navbar

$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           $white !default;
$navbar-dark-toggler-border-color:  $white !default;
$navbar-light-color:                $gray-800 !default;
$navbar-light-hover-color:          $gray-800 !default;
$navbar-light-active-color:         $gray-800 !default;
$navbar-light-toggler-border-color: $gray-800 !default;

// Pagination

$pagination-border-color:           $gray-800 !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $gray-800 !default;
$pagination-hover-border-color:     $gray-800 !default;
$pagination-disabled-color:         $gray-400 !default;
$pagination-disabled-border-color:  $gray-800 !default;

// Cards

$card-border-width:                 2px !default;
$card-border-color:                 $gray-800 !default;

// Popovers

$popover-border-color:              $gray-800 !default;

// Badges

$badge-padding-y:                   .5em !default;
$badge-padding-x:                   1.2em !default;

// Toasts

$toast-border-width:                2px !default;
$toast-border-color:                $gray-800 !default;
$toast-header-color:                $gray-800 !default;
$toast-header-border-color:         $toast-border-color !default;

// Modals

$modal-content-border-color:        $gray-800 !default;
$modal-header-border-color:         $gray-800 !default;

// Progress bars

$progress-bg:                       $white !default;
$progress-bar-bg:                   $gray-400 !default;

// List group

$list-group-border-color:           $gray-800 !default;
$list-group-hover-bg:               $gray-300 !default;
$list-group-active-color:           $white !default;
$list-group-active-bg:              $gray-800 !default;
$list-group-action-color:           $gray-800 !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-divider-color:          $gray-800 !default;
$breadcrumb-active-color:           $gray-800 !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            inherit !default;
$btn-close-opacity:          1 !default;
$btn-close-hover-opacity:    1 !default;
$btn-close-focus-shadow:     none !default;

// Navbar

.navbar {
  border-style: solid;
  border-width: 2px;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;

  &.bg-light {
    border-color: $gray-800;
  }

  &.fixed-top {
    border-width: 0 0 2px;
    border-radius: 0 25px 225px 0/25px 0 25px 255px;
  }

  &.fixed-bottom {
    border-width: 2px 0 0;
    border-radius: 255px 25px 0 25px/25px 225px 25px 0;
  }

  &-brand {
    font-family: $headings-font-family;
    font-weight: 400;
    text-decoration: none;
  }
}

// Buttons

.btn {
  text-decoration: none;
  border-radius: $border-radius-sketchy;

  &-lg {
    border-radius: $border-radius-lg-sketchy;
  }

  &-sm {
    border-radius: $border-radius-sm-sketchy;
  }
}

.btn-check {
  display: inline-block;
  opacity: 0;
}

// Typography

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family-sans-serif;
}

b,
strong {
  font-family: $font-family-serif;
}

blockquote {
  border-radius: 15px 27px 25px 25px/25px 25px 305px 635px;
}

// Navs

.dropdown-menu {
  overflow: hidden;
  border-radius: 555px 25px 25px 25px/25px 25px 25px 555px;
}

.dropdown-divider {
  border-top-width: 2px;
}

.list-group {
  overflow: hidden;
  background-color: $gray-800;
  border: 2px solid $gray-800;
  border-radius: 45px 15px 35px 5px/15px 5px 15px 65px;

  &-item {
    border-top: 2px solid $gray-800;
    border-right: none;
    border-left: none;
    border-radius: 255px 5px 225px 5px/25px 225px 25px 255px;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.nav-pills .nav-link {
  border-radius: $border-radius-sketchy;
}

.nav-link,
.page-link,
.list-group-item,
.dropdown-item {
  text-decoration: none;
}

.nav-tabs {
  .nav-link {
    border-radius: 45px 15px 225px 5px/25px 225px 25px 255px;
  }
}

.breadcrumb {
  border: 2px solid $gray-800;
  border-radius: $border-radius-sketchy;
}

.pagination {
  .page-link {
    border-radius: 425px 255px 25px 25px/25px 25px 5px 25px;
  }
}

// Containers

.card {
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;

  &-outline {
    &-primary,
    &-success,
    &-info,
    &-warning,
    &-danger {
      border-width: 2px;
    }
  }

  &-header {
    border-color: inherit;
    border-bottom-width: 2px;

    &:first-child {
      border-radius: 3px 3px 0 0/23px 23px 0 0;
    }
  }

  &-footer {
    border-top-width: 2px;
  }
}

.toast {
  border-radius: 10px 10px 15px 5px/5px 15px 5px 15px;

  &-header {
    font-family: $headings-font-family;
  }
}

.modal {
  &-content {
    border-radius: 15px 5px 5px 25px/5px 25px 25px 5px;
  }
}

.popover {
  padding: 0;
  border-radius: 45px 85px 15px 25px/15px 10px 35px 555px;

  &-title {
    border-bottom: 2px solid $gray-800;
  }

  &.bs-popover-start::before,
  &.bs-tether-element-attached-right::before {
    right: -13px;
  }

  &.bs-popover-top::before,
  &.bs-tether-element-attached-bottom::before {
    bottom: -13px;
  }

  &.bs-popover-bottom::before,
  &.bs-tether-element-attached-top::before {
    top: -13px;
  }

  &.bs-popover-end::before,
  &.bs-tether-element-attached-left::before {
    left: -13px;
  }
}

.tooltip {
  &-inner {
    border-radius: $border-radius-sm-sketchy;
  }
}

pre {
  border: 2px solid $gray-800;
  border-radius: 15px 5px 5px 25px/5px 25px 25px 5px;
}

.btn-close {
  background-image: none;

  &::before {
    position: absolute;
    top: .8rem;
    right: 1rem;
    content: "X";
  }
}

.img {
  &-thumbnail {
    border-radius: $border-radius-sketchy;
  }
}




// Increase font size in sidebar
.sidebar-navigation .sidebar-section .sidebar-item,
.sidebar-navigation .sidebar-item{
  line-height: 1.2;
  padding-bottom: 0.4rem;
}

.sidebar-item .sidebar-item-toggle .bi {
  // The dongle for opening and closing sections
  font-size: 1.1rem;
  text-align: center;
}

// Increase font size in TOC
#TOC {
  padding-bottom: 0.1em;
}

#toc-title {
  font-weight: 700;
}

.sidebar nav[role="doc-toc"] > ul li a {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

// Make callout text and icon bigger
.callout.callout-style-default {
  > div.callout-header,
  > .callout-body {
    font-size: 1.2rem;
  }

  .callout-icon::before {
    height: 1.2rem;
    width: 1.2rem;
    background-size: 1.2rem 1.2rem;
  }
}

// Custom active link colors
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
  color: $purple;
}

div.sidebar-item-container .active, div.sidebar-item-container .show > .nav-link, div.sidebar-item-container .sidebar-link > code {
  color: $yellow;
}

// Code stuff
// Shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
  font-size: 0.775em;
}

// Slight bottom margin to output
.cell-output {
  margin: 0 0 1em;
}

// Remove margin on pre in output
.cell-output pre {
  margin-bottom: 0;
  color: #ffffff;
}

// Format output and plain text blocks like code
.cell-output, pre.text {
  border: none;
  padding: .4em;
  background-color: $monokai-bg;
  border: 1px solid $monokai-bg;
  border-radius: .25rem;
}

pre.text {
  color: #ffffff;
}

.wrapping {
  float: right;;
  width: 80%;
}


#fig-structure > figure > figcaption {
  float: left;
  clear: both;
}